<!DOCTYPE html>
<html ng-app="myApp">
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Check Location From IP</title>
</head>

<body ng-controller="checkCtrl">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-5" style="  width: 35%;">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Your IPAddress</label>
                        <input type="text" class="form-control" ng-model="txtIP">                        
                    </div>
                    <button type="button" ng-click="getData(txtIP)">Get IP info</button>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
            <div class="col-md-7">
                <div class="col-md-3" style="padding-right: 0%;">
                    <ul class="list-group">
                        <li class="list-group-item">YourIP Address</li>
                        <li class="list-group-item">Country</li>
                        <li class="list-group-item">Region</li>
                        <li class="list-group-item">City</li>
                        <li class="list-group-item">Zip/Postal code</li>
                        <li class="list-group-item">Lat/Long</li>
                        <li class="list-group-item">Metro code</li>
                        <li class="list-group-item">Time zone</li>
                    </ul>
                </div>
                <div class="col-md-6" style="padding-left: 0%;">
                    <ul class="list-group">
                        <li class="list-group-item">={{ip}}</li>
                        <li class="list-group-item">={{country_name}}</li>
                        <li class="list-group-item">={{region_name}}</li>
                        <li class="list-group-item">={{city}}</li>
                        <li class="list-group-item">={{zip_code}}</li>
                        <li class="list-group-item">={{latitude}},{{longitude}}</li>
                        <li class="list-group-item">={{metro_code}}</li>
                        <a href="http://en.wikipedia.org/wiki/{{time_zone}}"><li class="list-group-item">={{time_zone}}</li></a>             
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
</body>

</html>
